
/* global styles */

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
}

.clearfix {
	display: table;
	content: " ";
	clear: both;
}

.hide {
	display: none;
}

ul li {
	list-style-type: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

summary {
    outline: none;
    margin-bottom: 10px;
    cursor: pointer;
    cursor: -webkit-grab;
}




a:link,
a:visited,
a:hover,
a:active {
	color: $font-color;
}

/* page styles */

.container {
	@include container(800px);
}

.home {
// 	@include backImage('http://placehold.it/960x600') ;
	background: $bg-color;
	font-family: $font-copy;
	color: $font-color;
	font-size: $font-size;
	line-height: $font-leading;
}

h1, 
h2,
h3,
{ 
	font-weight: $font-bold;
}

h3 {
	font-variant: small-caps;
}

// h1, 
h2,
p,
ul,
section {
	margin-bottom: 15px;
}

section {
	@include box();
	@include span(12);
	padding: 10px 30px;
	padding-top: 65px;
}

.top {
	background: $bg-color;
    position: fixed;
    width: 100%;
}

header {
	float: left;
	width: 351px;
	h1 {
		color: rgba(255, 133, 98, 0.95);
		font-size: 3em;
		
	}//h1
}//header

nav { 
	float: right;
	width: 386px;
	margin-top: 20px;
	ul {
		li {
			display: inline-block;
			padding-right: 20px;
			a{
				text-decoration: none;
				padding: 8px;
				transition: all 250ms cubic-bezier(.17,.67,0,0);
			}//a
			a:link,
			a:visited {
				color: rgba(255,255,255,.8);
			}
			a:hover,
			a:active {
				color: rgba(255,255,255,.9);
				background: #ff8562;
				border-radius: 15px;
			}			
		}//li
	}//ul
}//nav

// medium style
@include susy-breakpoint($medium) {
	section {
		@include span(12);
		padding-top: 100px
	}
	
		nav {
		margin-top: 0;
	}
}//end medium style

// small style
@include susy-breakpoint($small) {
	section {
		@include span(12);
		padding-top: 100px;
	}
	
	nav {
		margin-top: 0;
	}
}//end medium style





