@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

$font-stack: helvetica, sans-serif;
$font-size: 13px;
$font-copy: 'Roboto', sans-serif;
$font-bold: 700;
$bg-color: rgba(140, 151, 160, 0.42);
$font-color: #292927;
$mark-color: #63FF14;

